body {
    margin: 0px;
}

* {
    font-family: 'Roboto Mono', 'Comic Sans MS';
    font-family: 'Lucida Sans', monospace;
}

.header, .intro, .footer {
    background-color: #1f2937;
}

.logo, .boldedtxt, button {
    color: white;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.logo {
    font-size: 24px;
    font-weight:bold;
    margin-top: 1em;
    margin-bottom: 1em;
}

.intro {
    display:flex;
    flex-flow: wrap;
    justify-content: space-around;
    padding: 2.5em;
    gap: 2em;
}

.left-intro {
    width:50%;
    margin-left: 3em;
}


.maintxt, .headerlinks {
    color: #E5E7EB;
    font-size: 18px;
}

.headerlinks {
    list-style-type: none;
    display: flex;
    gap: 1.5em;
}

.boldedtxt {
    font-size: 48px;
    font-weight:bolder;
    margin-bottom: 0.5em;
}

button {
    border: none;
    border-radius: 12px;
    padding: 0.7em;
    font-size: 18px;
    font-weight: bold;
    background-color: #3882F6;
}

.infoHeaderContainer {
    display: flex;
    justify-content: center;
}

.infoHeader, .quotedGuy {
    font-size: 36px;
    font-weight: bolder;
}


.infoimages {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 3em;
    margin: 2em auto 2em;
}

.image1 {
    display:flex;
    flex-direction: column;
    width: 10em;
    height: auto;
}

.infoimg {
    border: 10px blue;
    border-radius: 12px;
    height: auto;
}

.quoteSection {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

.quote {
    margin: 3em 25% auto;
    font-size: 36px;
    font-style: italic;
    color:#1f2937;
}

.quotedGuyContainer {
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

.signUpSection {
    margin: 5em auto;
    display: flex;
    justify-content: center;
}

.signUpContainer {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    width: 50%;
    justify-content: space-between;
    background-color: #3882F6;
    padding: 1em 4em;
    border-radius: 12px;
}

.signUpHeader {
    margin: 0.5em auto;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.signUpTxt {
    margin: 0.5em auto;
    color: #E5E7EB;
    font-size: 20px;
}

.whiteBorder {
    border: 2px solid white;
}

.footer {
    display:flex;
    padding: 1em;
    justify-content: center;
}

